/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  } */

h1 {
    margin: 0;
    padding: 20px 0;
    color: #6b75ff;
    text-shadow: 3px 3px 3px black;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #95ffa3;
    padding: 0 20px 20px 20px;
    border: 5px solid #007510;
}

html {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;

  background-color: #8ec8ff;
}

.chessBoard {
  width:80vw;
  height: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 8.3333%;
  height: 8.3333%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.white {
  background-color: #f0d9b5;
}
.black {
  background-color: #b58863;
}

.whiteRed {
  background-color: #f0b5b5;
}
.blackRed {
  background-color: #b56363;
}

.whiteYellow {
  background-color: #f0f0b5;
}
.blackYellow {
  background-color: #b4b563;
}

.whiteGreen {
  background-color: #b5f0ba;
}
.blackGreen {
  background-color: #63b575;
}

.whiteBlue {
  background-color: #b5b6f0;
}
.blackBlue {
  background-color: #6364b5;
}

.null {
  background-color: #95ffa3;
}

.coordinate {
  height:auto;
  display:flex;
  bottom: 4%;
  left:4%;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rank {
  top:4%;
  right:4%;
  left:auto;
}
.whiteText {
  color:#f0d9b5;
}
.blackText {
  color:#b58863;
}
.piece {
  width:100%;
  z-index: 1;
  cursor: pointer;
}
.piece img {
  max-width: 100%;
  width:100%;
  height: auto;
}


@media (min-width:600px) {
  .chessBoard {
      width:600px;
      height: 600px;
  }
}
@media (max-width:600px) {
  .coordinate {
    font-size: 8px;
  }
}
